{{!-- index.hbs --}}
<div class="blackBackground">
    <img class="indexLogo" src="/images/spotifylogo2.png">
    <form class="searchForm" action="/artists" method="POST">
        <input class="searchInput" type="text" name="artist" placeholder="search your favourite artist">
        <button class="greenBtn" type="submit">Submit</button>
    </form>
</div>